@import "../../mixins";

.container {
    @include m-card-shadowed;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 270px;
    align-self: center;
    justify-self: center;
}

.containerShake {
    @extend .container;
    animation: 0.2s ease-out 0s 1 a-shake;
}

.headerContainer {
    display: flex;
    flex-direction: column;
}

.errorMessage {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    height: 18px;
}

.header {
    text-align: center;
    @include m-font-shadowed(36px, 400);
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
